body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
}
.box{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px #33333379;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    zoom: 1.3;
}
#nome, #sobrenome, #email, #senha, #celular{
    margin: 5px;
    padding: 10px 10px;
    outline: none;
    border: 1px solid #33333325;
    box-shadow: inset 0px 0px 2px #33333328;
    color: #333;
    border-radius: 5px;
    width: 220px;
    font-size: 14px;
}
#continuar{
    margin: 5px;
    background-color: #2d87fd;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    font-size: 14px;

}
#continuar:hover{
    background-color: #1877f2;
}
::placeholder{
    color: #33333341;
}
h1{
    margin: 0px;
    color: #333;
    text-align: center;
    font-size: 24px;
    padding: 5px 0px 5px 0px;
    color: #1877f2;
}
p{
    margin: 5px;
    color: #33333377;
    text-align: center;
    font-size: 12px;
    padding: 5px 0px 5px 0px;
}
.linha{
    border-bottom: solid 1px #3333332f;
    margin: 5px;
}